<% if @search_term.present? %>
  <h1>Resultados da busca por "<%= @search_term %>"</h1>
<% end %>

<% if @profiles.any? %>
  <ul>
    <% @profiles.each do |profile| %>
      <li><%= profile.name %></li>
      <!-- Adicione mais informações do perfil conforme necessário -->
    <% end %>
  </ul>
<% else %>
  <% if @search_term.present? %>
    <p>Nenhum perfil encontrado para "<%= @search_term %>".</p>
  <% else %>
    <p>Nenhum perfil encontrado.</p>
  <% end %>
<% end %>
