<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    
      <span class="navbar-toggler-icon"></span>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <!-- Formulário de pesquisa -->
      <%= form_with(url: profiles_path, method: "get", class: "form-inline my-2 my-lg-0") do %>
        <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2", placeholder: "Buscar por nome de perfil" %>
        <%= button_tag(type: "submit", class: "btn btn-outline-success my-2 my-sm-0") do %>
          Buscar
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
